docker run --name some-mysql-server -p 3306:3306 -e MYSQL_ROOT_PASSWORD=1234 -d mysql:8.3

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/alumnadotarde/anaconda3/lib/python3.12/site-packages (9.1.0)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="1234",
database="personas"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM persona")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Juan', 30)
(2, 'Pepe', 20)
(3, 'Javi', 40)
(4, 'Jorge', 25)

In [3]:
mycursor.execute("insert into persona values (5,'Pepito', 27)")

mydb.commit()

In [10]:
mycursor.execute("SELECT * FROM persona")

print(myresult)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

[(1, 'Juan', 30), (2, 'Pepe', 20), (3, 'Javi', 40), (4, 'Jorge', 25), (5, 'Pepito', 27)]
(1, 'Juan', 30)
(2, 'Pepe', 20)
(3, 'Javi', 40)
(4, 'Jorge', 25)
(5, 'Pepito', 27)